:root {
  --darkGray: #3c3c3c;
  --mediumGray: #d2d2d2;
  --lightGray: #f0f0f0;
  --red: #ff2700;
  --blue: #008fd5;
  --green: #77ab43;
  --darkblue: #2f4b7c;
  --baseSize: 11px;
}

.plot-bg {
  fill: var(--lightGray);
}

text {
  font-family: "IBM Plex Sans", sans-serif;
  fill: var(--DarkGray);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.xAxisText,
.yAxisText {
  font-size: var(--baseSize);
  font-family: "DM Mono", Consolas, monospace;
}

.label {
  font-size: var(--baseSize);
  font-family: "DM Mono", Consolas, monospace;
}

.left {
  fill: var(--DarkGray);
  text-anchor: start;
}

.right {
  fill: #fff;
  text-anchor: end;
}

.title {
  font-size: calc(var(--baseSize) * 2);
  font-weight: bold;
}

.subtitle {
  font-size: calc(var(--baseSize) * 1.25);
  fill: var(--DarkGray);
}

.source {
  font-size: calc(var(--baseSize) * 0.8);
  font-family: "DM Mono", Consolas, monospace;
}

.svg-link {
  fill: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.fa-brands {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}
